<div class="fixed bottom-0 left-0 w-full bg-white ">
    <div class="max-w-md mx-auto px-4">
      <div class="flex justify-around py-4">
        <!-- Home -->
        <a [routerLink]="'/purchases'" 
           class="flex flex-1 flex-col items-center justify-end gap-1 transition-all duration-200 ease-in-out"
           [class.-translate-y-2]="isActive('/purchases')"
           [class.hover:-translate-y-1]="!isActive('/purchases')">
          <div class="flex h-12 items-center justify-center rounded-full p-2"
               >
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [class]="isActive('/purchases') ? ' ' : 'text-gray-500 hover:text-gray-700'"
                 class="transition-colors duration-200"
                 width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
              <path d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"></path>
            </svg>
          </div>
          <p class="text-xs font-medium leading-normal tracking-[0.015em] transition-colors duration-200"
             [class.text-blue-600]="isActive('/purchases')"
             [class.text-gray-500]="!isActive('/purchases')">
            Home
          </p>
        </a>

        <!-- Lists -->
        <a [routerLink]="'/lists'"
           class="flex flex-1 flex-col items-center justify-end gap-1 transition-all duration-200 ease-in-out"
           [class.-translate-y-2]="isActive('/lists')"
           [class.hover:-translate-y-1]="!isActive('/lists')">
          <div class="flex h-12 items-center justify-center rounded-full p-2"
                >
            <svg xmlns="http://www.w3.org/2000/svg"
                 [class]="isActive('/lists') ? ' ' : 'text-gray-500 hover:text-gray-700'"
                 class="transition-colors duration-200"
                 width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
              <path d="M168,112a56,56,0,1,1-56-56A56,56,0,0,1,168,112Zm61.66,117.66a8,8,0,0,1-11.32,0l-50.06-50.07a88,88,0,1,1,11.32-11.31l50.06,50.06A8,8,0,0,1,229.66,229.66ZM112,184a72,72,0,1,0-72-72A72.08,72.08,0,0,0,112,184Z"></path>
            </svg>
          </div>
          <p class="text-xs font-medium leading-normal tracking-[0.015em] transition-colors duration-200"
             [class.text-blue-600]="isActive('/lists')"
             [class.text-gray-500]="!isActive('/lists')">
            Lists
          </p>
        </a>

        <!-- Receipts -->
        <a [routerLink]="'/receipts'"
           class="flex flex-1 flex-col items-center justify-end gap-1 transition-all duration-200 ease-in-out"
           [class.-translate-y-2]="isActive('/receipts')"
           [class.hover:-translate-y-1]="!isActive('/receipts')">
          <div class="flex h-12 items-center justify-center rounded-full p-2"
                >
            <svg xmlns="http://www.w3.org/2000/svg"
                 [class]="isActive('/receipts') ? ' ' : 'text-gray-500 hover:text-gray-700'"
                 class="transition-colors duration-200"
                 width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
              <path d="M72,104a8,8,0,0,1,8-8h96a8,8,0,0,1,0,16H80A8,8,0,0,1,72,104Zm8,40h96a8,8,0,0,0,0-16H80a8,8,0,0,0,0,16ZM232,56V208a8,8,0,0,1-11.58,7.15L192,200.94l-28.42,14.21a8,8,0,0,1-7.16,0L128,200.94,99.58,215.15a8,8,0,0,1-7.16,0L64,200.94,35.58,215.15A8,8,0,0,1,24,208V56A16,16,0,0,1,40,40H216A16,16,0,0,1,232,56Zm-16,0H40V195.06l20.42-10.22a8,8,0,0,1,7.16,0L96,199.06l28.42-14.22a8,8,0,0,1,7.16,0L160,199.06l28.42-14.22a8,8,0,0,1,7.16,0L216,195.06Z"></path>
            </svg>
          </div>
          <p class="text-xs font-medium leading-normal tracking-[0.015em] transition-colors duration-200"
             [class.text-blue-600]="isActive('/receipts')"
             [class.text-gray-500]="!isActive('/receipts')">
            Receipts
          </p>
        </a>

        <a [routerLink]="'/family'" 
             class="flex flex-1 flex-col items-center justify-end gap-1 transition-all duration-200 ease-in-out">
            <div class="flex h-12 items-center justify-center rounded-full p-2">
              <svg xmlns="http://www.w3.org/2000/svg" 
              [class]="isActive('/family') ? ' ' : 'text-gray-500 hover:text-gray-700'"  class="transition-colors duration-200"
              width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
              </svg>
              <!-- Notification Badge -->
              <div *ngIf="pendingInvites$ | async as count"
                   class="absolute -top-1 -right-1 flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white"
                   [class.hidden]="count === 0">
                {{ count }}
              </div>
            </div>
            <p class="text-xs font-medium leading-normal tracking-[0.015em] transition-colors duration-200" [class.text-blue-600]="isActive('/family')"
            [class.text-gray-500]="!isActive('/family')">Profile</p>
          </a>
      </div>
    </div>
  </div>
  <div class="h-20 bg-white"></div> <!-- Spacer for fixed navbar -->