 



<!-- app.component.html -->
<div class="app-container">
  <!-- Loading spinner overlay -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-container">
      <div class="spinner"></div>
      <p>Initializing...</p>
    </div>
  </div>

  
  <app-header *ngIf="authService.user$ | async"></app-header>
  
  <!-- Main content -->
  <main>
    <router-outlet></router-outlet>
  </main>
  
  <!-- Bottom navigation -->
  <app-bottom-nav *ngIf="authService.user$ | async"></app-bottom-nav> 
</div>