<div class="relative flex size-full min-h-screen flex-col bg-white justify-between group/design-root overflow-x-hidden">
    <div>
      
      <div class="px-4">
        <div *ngFor="let item of shoppingItems">
          <label class="flex gap-x-3 py-3 flex-row-reverse justify-between">
            <input
              type="checkbox"
              [(ngModel)]="item.checked"
              (change)="onItemToggle(item)" 
              class="h-5 w-5 rounded border-[#dce0e5] border-2 bg-transparent text-[#1980e6] checked:bg-[#1980e6] checked:border-[#1980e6] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dce0e5] focus:outline-none"
            />
            <div class="flex items-center gap-4">
               
              <p class="text-[#111418] text-base font-normal leading-normal">{{ item.name }}</p>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>